<div class="form-container">
    <h1>Listar Produto</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" [(ngModel)]="product.name" name="name" required>
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" type="number" [(ngModel)]="product.price" name="price" required>
      </div>
  
      <div class="form-group">
        <label for="team">Team</label>
        <input id="team" type="text" [(ngModel)]="product.team" name="team" required>
      </div>
  
      <div class="form-group">
        <label for="image">Image</label>
        <input id="image" type="file" (change)="onFileChange($event)">
      </div>
  
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="product.category" name="category" (change)="onCategoryChange()" required>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="size">Size</label>
        <select id="size" [(ngModel)]="product.size" name="size" required>
          <option *ngFor="let size of sizeList" [value]="size">{{ size }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn-submit">Listar Produto</button>
      </div>
    </form>
  </div>
  