/* Container for the whole page */
.container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* Product List */
  .product-list-container {
    display: flex;
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Keep the vertical stacking of products */
  }
  
  .product-list-container h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  /* Button Filtrar */
  .product-list-container button {
    margin-top: 20px;
    margin-bottom: 10px;;
  }
  
  /* Sidebar - Filter section */
  .filter-sidebar {
    position: fixed;
    left: -300px; /* Initially hidden */
    top: 51px;
    width: 300px;
    height: 100%;
    background: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 20px;
    transition: all 0.3s ease; /* Slide effect */
    z-index: 1000;
  }
  
  .filter-sidebar.show {
    left: 0; /* When visible, slide in */
  }
  
  .filter-sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  

  .filter-sidebar label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .filter-sidebar input,
  .filter-sidebar select,
  .filter-sidebar button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filter-sidebar .price-range input {
    width: calc(50% - 5px);
    margin-right: 8px;
  }
  
  .filter-sidebar .close-btn {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    width: 30px; /* Set button width */
    height: 30px; /* Set button height */
    line-height: 30px; /* Center text vertically */
    text-align: center;
    border-radius: 50%; /* Make it a circle */
    background-color: #ffffff; /* Set background color */
    color: #333; /* Set text color */
    border: none; /* Remove button border */
  }
  
  .filter-sidebar .form-group label {
    display: flex; /* Use flexbox for better alignment */
    align-items: top; /* Vertically center the label and checkbox */
  }
  
  .filter-sidebar .form-group input[type="checkbox"] {
    margin-right: 5px; /* Add some space between checkbox and label */
    vertical-align: bottom;
  }

