<div class="container my-5">
    <h2 class="mb-4">Dashboard das Ofertas</h2>
  
    <!-- Offers Sent -->
    <app-offers-sent [sentOffers]="sentOffers"></app-offers-sent>
  
    <!-- Offers Received -->
    <app-offers-received [receivedOffers]="receivedOffers"></app-offers-received>
  
    <!-- Accepted Offers -->
    <app-offers-accepted [acceptedOffers]="acceptedOffers"></app-offers-accepted>
  
    <!-- Processed Offers -->
    <app-offers-processed [processedOffers]="processedOffers"></app-offers-processed>
  </div>
  