<div class="container my-5">
    <h2 class="mb-4">Dashboard das Ofertas</h2>
  
    <!-- Offers Sent -->
    <app-offers-sent [sentOffers]="sentOffers" (offerSent)="handleUpdates($event)"></app-offers-sent>
  
    <!-- Offers Received -->
    <app-offers-received [receivedOffers]="receivedOffers" (offerReceived)="handleUpdates($event)"></app-offers-received>
  
    <!-- Accepted Offers -->
    <app-offers-accepted [acceptedOffers]="acceptedOffers" (offerAccepted)="handleUpdates($event)"></app-offers-accepted>
  
    <!-- Processed Offers -->
    <app-offers-processed [processedOffers]="processedOffers" (offerProcessed)="handleUpdates($event)"></app-offers-processed>
  </div>
  