<div class="container my-5">
    <h2 class="mb-4">Dashboard das Ofertas</h2>
  
    <!-- Offers Sent -->
    <app-offers-sent [offers]="sentOffers"></app-offers-sent>
  
    <!-- Offers Received -->
    <app-offers-received [offers]="receivedOffers"></app-offers-received>
  
    <!-- Accepted Offers -->
    <app-offers-accepted [offers]="acceptedOffers"></app-offers-accepted>
  
    <!-- Processed Offers -->
    <app-offers-processed [offers]="processedOffers"></app-offers-processed>
  </div>
  