<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <img [src]="'http://127.0.0.1:8080' + userprofile.image || 'placeholder.jpg'"
             style="width: 10vw; height: 9vw; object-fit: cover"
             class="rounded-circle" alt="">
        </div>
        <div class="col-md-8">
            <div class="d-flex align-items-center mb-3">
                 <h2 class="mr-3">{{ userprofile.user.username }}</h2>
                 <!--
                {% if follows %}
                    <a href="{% url 'unfollow' profile_user.username %}" class="btn btn-outline-primary btn-sm">Não seguir</a>
                {% else %}
                    {% if not is_banned %}
                        <a href="{% url 'follow' profile_user.username %}" class="btn btn-outline-primary btn-sm">Seguir</a>
                    {% endif %}
                {% endif %}
                {% if not is_banned %}
                    Report Button
                    <button type="button" class="btn btn-outline-danger btn-sm ml-2" data-toggle="modal" data-target="#reportModal">
                        Reportar Utilizador
                    </button>
                {% endif %}
            -->
                </div>
            <div class="d-flex mb-3">
                <div class="mr-4">
                    <strong>{{ pnumber }}</strong> produtos
                </div>
                <div class="mr-4">
                    <a class="text-dark">
                        <strong>{{ followers }}</strong> seguidores
                    </a>
                </div>
                <div>
                    <strong>{{ following }}</strong> seguindo
                </div>
            </div>
                <p>Nome: {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</p>
        </div>
    </div>
    <hr/>

    <!-- Report Modal 
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Reportar {{ profile_user.username }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ report_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" name="report_user" class="btn btn-danger">Enviar Denúncia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    -->

    <!--{% if not is_banned %}-->
    <app-product-list [username]="userprofile.user.username"></app-product-list>
    <!--
        <div class="row">
        {% for product in products %}
            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <a href="{% url 'detailedproduct' id=product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid rounded" style="object-fit: cover; height: 300px;">
                    </a>
                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text text-muted">{{ product.price }} €</p>
                        <p class="text-muted">Vendedor: {{ product.seller.username }}</p>
                        <form method="POST" action="" class="mt-auto">
                        {% csrf_token %}
                                <input type="hidden" name="favorite_product_id" value="{{ product.id }}">
                                <button type="submit" class="btn btn-outline-danger w-100">
                                {% if product.id in favorites_ids %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                     <i class="far fa-heart"></i>
                                {% endif %}
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="col-12 text-center">Sem produtos à venda.</p>
        {% endfor %}
        {% else %}
            <div class="alert alert-danger" style="border: 2px solid darkred; background-color: #f8d7da; color: darkred; font-size: 2rem; text-align: center; padding: 20px;">
                <strong>Este usuário foi banido!!!</strong>
            </div>
        {% endif %}
        </div>

</div>

<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">Seguidores</h5>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                    {% for follower in followers %}
                        <a href="{% url 'profile' follower.following.username %}">
                            <p>{{ follower.following.username }}</p>
                        </a>
                    {% empty %}
                        <p>Ainda não tens nenhum seguidor.</p>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followingModalLabel">A Seguir</h5>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                {% for follow in following %}
                    <a href="{% url 'profile' follow.followed.username %}">
                        <p>{{ follow.followed.username }}</p>
                    </a>
                {% empty %}
                    <p>Ainda não segues nenhum utilizador.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
-->