body {
    background-color: #204040;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.link-primary {
    text-decoration: none;
    color: #007bff;
}
.link-primary:hover {
    color: #0056b3;
    text-decoration: underline;
}