body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    margin: 0; /* Reset default body margins */
}

main { /* Or whatever your main content container is */
    flex: 1; /* Allow the main content to take up available space */
    padding-bottom: 60px; /* Add padding to prevent content from being hidden under the footer */
}

footer {
    background-color: #282829;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
    max-width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
