<footer class="container mt-5">
    <hr />
    <div class="row align-items-center">
      <div class="col text-center text-md-start">
        <p class="mb-0">
          Amor à Camisola - Projeto desenvolvido no âmbito da disciplina TPW da Licenciatura em Engenharia Informática da 
          <a href="https://www.ua.pt/" target="_blank" rel="noopener noreferrer">Universidade de Aveiro</a>.
        </p>
        <p class="mb-0">
            Devs: <a href="https://github.com/rodrigoabreu22" target="_blank" rel="noopener noreferrer">Rodrigo Abreu</a>, 
            <a href="https://github.com/Ricardo-Alexandre-Antunes" target="_blank" rel="noopener noreferrer">Ricardo Antunes</a>, 
            <a href="https://github.com/FunnyJoaoneto" target="_blank" rel="noopener noreferrer">João Neto</a>
            
        </p>
      </div>
    </div>
  </footer>  