<div class="col-md-4 col-sm-6 mb-4" *ngIf="product">
  <!-- Product Card -->
  <div class="card shadow-sm border-light">
    <!-- Make the card clickable with RouterLink -->
    <a [routerLink]="['/product', product.id]" class="text-decoration-none">
      <!-- Product Image -->
      <img [src]="'http://127.0.0.1:8080' + product.image || 'placeholder.jpg'" class="card-img-top" alt="{{ product.name }}" />
    </a>

    <!-- Card Body -->
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/product', product.id]" class="text-dark text-decoration-none">
          {{ product.name }}
        </a>
      </h5>
      <p class="card-text text-muted">Preço: €{{ product.price }}</p>
      <p class="card-text">
        <strong>Vendedor:</strong> {{ product.seller.first_name }} {{ product.seller.last_name }}
      </p>
      <!-- Favorite Button -->
      <button
        class="btn"
        [ngClass]="isFavorite ? 'btn-danger' : 'btn-outline-danger'"
        (click)="toggleFavorite($event, product)">
        ❤️ 
        {{ isFavorite ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}
      </button>

    </div>
  </div>
</div>
