<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django WebProject</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/pubProduct.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"></link>
  </head>

  <body>
    <nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/Amor_camisola.png' %}" alt="Logo" class="logo-image">
            <span class="company-name">Amor à Camisola</span>
        </a>
        <a href="{% url 'publishproduct' %}">Vender Produto</a>
        {% for group in user.groups.all %}
            {% if group.name == 'Moderators' %}
                <a href="{% url 'moderator_dashboard' %}">Denúncias</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="navbar-right">
            <a href="{% url 'userlist' %}" title="Utilizadores"><i class="fa-solid fa-users"></i></a>
          <a href="{% url 'offers' %}" class="notification-icon" style="position: relative;">
            {% if user %}
              <i class="fa-regular fa-comments mx-3" style="color: #ffffff; cursor: pointer;" data-toggle="tooltip" title="Ofertas"></i>
                {% if offer_count > 0 %}
                  <span class="notification-bubble">{{ offer_count }}</span> <!-- Example notification count -->
                {% endif %}
            {% endif %}
          </a>
        {% if request.user.is_authenticated %}
            <a href="{%  url 'wallet' %}" title="Carteira"><i class="fas fa-wallet"></i>{{ profile.wallet }}€</a>
            <a href="{%  url 'favorite_list' %}" title="Favoritos"><i class="fas fa-heart"></i></a>
        {% endif %}
        {% include 'loginpartial.html' %}
    </div>
</nav>
    <main role="main">
        <div class="container-md">
            <p></p>
            {% block content %} {% endblock %}
        </div> <!-- /container -->
    </main>

    <footer style="padding-left: 15px">
        <hr />
        <p> Amor à Camisola - Projeto desenvolvido no âmbito da disciplina TPW da Licenciatura em Engenharia Informática da <a href="https://www.ua.pt/">Universidade de Aveiro.</a></p>
    </footer>

    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

  </body>
</html>
