<nav class="navbar">
    <div class="navbar-left">
        <a routerLink="/products" routerLinkActive="active">
            <img src="http://127.0.0.1:8080/static/images/Amor_camisola.png" alt="Logo" class="logo-image">
            <span class="company-name">Amor à Camisola</span>
        </a>
        <!--<a routerLink="/sellproduct" routerLinkActive="active">Vender Produto</a>-->
        <!--<a href="{% url 'moderator_dashboard' %}">Denúncias</a>    A tratar -->
    </div>
    <div class="navbar-right">
        <a routerLink="/users" routerLinkActive="active"><i class="fa-solid fa-users"></i></a>
        <!--<a href="{% url 'offers' %}" class="notification-icon" style="position: relative;"></a>    A tratar -->
        <!--<a routerLink="/wallet" routerLinkActive="active"><i class="fas fa-wallet"></i>{{ profile.wallet }}€</a>-->
        <!--<a routerLink="/favorite_list" routerLinkActive="active"><i class="fas fa-heart"></i></a>-->
    </div>
  </nav>
  