.navbar {
    background-color: #006400; /* Dark green */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar a, .navbar button {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #d4ffd4; /* Light green on hover */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 30px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar a i {
    font-size: 1.2em; /* Icon size */
    color: white;
    margin-right: 15px;
}

.navbar a i:hover {
    color: #d4ffd4; /* Light green on hover */
}