<div class="container mt-4 product-details">
  <div class="row">
    <div class="col-md-5">
      <div class="product-image">
        <img
          [src]="'http://127.0.0.1:8080' + product?.image || 'placeholder.jpg'"
          class="img-fluid rounded"
          alt="{{ product?.name }}"
        />
      </div>
    </div>

    <div class="col-md-7 product-info">
      <h2 class="product-title">{{ product?.name }}</h2>
      <p class="text-muted mb-1">
        <strong>Categoria:</strong> {{ product?.category }}
      </p>
      <p class="text-muted mb-1">
        <strong>Tamanho:</strong> {{ product?.size }}
      </p>
      <p class="text-muted mb-1">
        <strong>Equipa:</strong> {{ product?.team }}
      </p>

      <h5 class="mt-4">Vendedor:</h5>
      <p class="mb-1">
        <strong>Nome:</strong> <a [routerLink]="['/profile', sellerInfo?.user?.username]">
        {{ sellerInfo?.user?.first_name }}
        {{ sellerInfo?.user?.last_name }}
      </a></p>
      <p class="mb-1">
        <strong>Telefone:</strong> {{ sellerInfo?.phone }}
      </p>
      <p class="mb-1">
        <strong>Email:</strong> {{ sellerInfo?.user?.email }}
      </p>

      <h4 class="product-price mt-4">{{ product?.price | currency: 'EUR' }}</h4>

      <div class="mt-3">
        <h5>Descrição:</h5>
        <p>{{ product?.description }}</p>
      </div>

      <div class="action-buttons mt-4">
        <button class="btn btn-primary me-2">Fazer Proposta</button>
        <button class="btn btn-danger">Reportar Publicação</button>
      </div>
    </div>
  </div>
</div>