<div class="mb-5">
    <h3 class="text-primary">Propostas recebidas</h3>
    <div *ngIf="receivedOffers.length; else noReceivedOffers">
      <app-offer-card
        *ngFor="let offer of receivedOffers"
        [offer]="offer"
        [actions]="getActions(offer)">
      </app-offer-card>
    </div>
    <ng-template #noReceivedOffers>
      <div class="alert alert-info mt-3" role="alert">
        Não tem nenhuma proposta recebida
      </div>
    </ng-template>
  </div>
  
  <app-offer-modal
  *ngIf="showModal"
  [show]="showModal"
  [product]="selectedProductName"
  [deliveryMethod]="selectedOffer?.delivery_method || ''"
  [paymentMethod]="selectedOffer?.payment_method || ''"
  [offerValue]="selectedOffer?.value || 0"
  (close)="closeModal()"
></app-offer-modal>
